/**
 * = SidebarsToggle
 */

.sub-sidebar {
  position: sticky;
  top: 0;                       
  height: 100vh;                // полная высота окна
  background: var(--bs-body-bg);
  border-right: 1px solid var(--bs-gray-400); // тонкая линия справа
  transition: transform .25s ease-in-out, opacity .25s ease-in-out;;
  transform: translateX(0); // по умолчанию скрыт
  opacity: 1;    // полностью прозрачный
  pointer-events: auto; // клики «проваливаются» сквозь него
  overflow-y: auto;
  // padding: 1rem .75rem;
  // flex: 0 0 auto; // не сжимается
  z-index: 1020;

  display: flex;
  flex-direction: column;

  /* открытое состояние */
  &.open { 
    transform: translateX(-100%);
    opacity: 0;
    pointer-events: none;     // клики активны
  }

  /* «ручка» для drag-resize */
  &__resizer {
    position: absolute;
    right: -#{(4px - 1px) / 2}; // 4 px /2 выступает в контент
    top: 0;
    width: 4px;
    height: 100%;
    cursor: col-resize;
    z-index: 1021;
  }

  &__scroll {
    flex: 1 1 auto;
    min-height: 0;
    overflow-y: auto;
    padding: 1rem .75rem;
  }

  // &.affixed {
  //   position: fixed;
  //   top: 0; left: var(--sidebar-left, 0);
  // }
}

.with-sidebar { padding-left: var(--sidebar-width, 260px); }
.sub-sidebar__ghost { visibility: hidden; }

/* На очень узких экранах можно совсем прятать */
@media (max-width: 991.98px) {
  .sub-sidebar { display: none; }
}